<section class="container section">
<%= simple_form_for(@service) do |f| %>
<div class="row ws-m">
  <div class="col-md-offset-2 col-md-8">

  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :title  %>
  </div>
  <div class="form-group">
    <%= f.trix_editor :serdescription, placeholder: "Main services"  %>
  </div>
  <div class="form-group">
    <%= f.trix_editor :otherSer, placeholder: "Outcome Of Services" %>
  </div>
  <div class="form-group">
    <%= f.trix_editor :otherSerdescription, placeholder: "Other services"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-ghost" %>
  </div>
<% end %>

</section>
