<header class="page-title pt-large pt-dark pt-plax-lg-dark" data-stellar-background-ratio="0.4">
      <div class="container">
          <div class="row">

            <div class="col-sm-6">
              <h1>Services</h1>
              <span class="subheading">Services we provide</span>
            </div>
            <ol class="col-sm-6 text-right breadcrumb">
              <li><%= link_to "Home", root_path %></li>
              <li class="active"><%= link_to "Services", services_path %></li>
            </ol>
          </div>

        </div>
    </header>



          <div class="col-md-8 text-center">
            <figcaption class="col-md-6 no-gap text-center">
              <h3>  <%= @service.title %></h3>
            </figcation>

            <p>

              <%= raw(@service.serdescription) %>
            </p>
          </br>
        </div>


        <div class="cta-link">
          <div class="bg-overlay">

            <div class="cta-wrapper">
              <h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">Love to hear from you</h3>
              <%= link_to "Get in touch", new_contact_path, class: "btn btn-light btn-large wow fadeIn" %>
            </div>

          </div>
        </div><!-- / .dark-bg .cta-link -->


<div class="text-center">
      <%= link_to 'Edit', edit_service_path(@service) %> |
      <%= link_to 'Back', services_path %>
    </div>
