
<section>
<!-- left side start-->
<div class="left-side sticky-left-side">

  <!--logo and iconic logo start-->
  <div class="logo">
    <h1><a href="index.html">Easy <span>Admin</span></a></h1>
  </div>
  <div class="logo-icon text-center">
    <a href="index.html"><i class="lnr lnr-home"></i> </a>
  </div>

  <!--logo and iconic logo end-->
  <div class="left-side-inner">

    <!--sidebar nav start-->
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li class="active"><%= link_to "New BlogPost", new_blog_path, id: "NewBlog" %></li>
        <li class="active"><%= link_to "New BlogPost", new_blog_path, id: "NewBlog" %></li>
        <li><%= link_to "New Project", new_project_path, id: "newProject" %></li>
        <li><%= link_to "Edit Project", edit_project_path %></li>
        <li><%= link_to "New service", new_service_path %></li>
        <li><%= link_to "Edit Service", edit_service_path %></li>
        <li><%= link_to "view members", abouts_path %></li>
        <li><%= link_to "new members", new_about_path %></li>
        <li><%= link_to "Edit MyProfile", edit_user_registration_path %></li>
        <br>
        <li><%= link_to "Log-out", destroy_user_session_path, class: "btn btn-ghost" %></li>
        <li>view job offers </l>
      </ul>
    <!--sidebar nav end-->
  </div>
</div>
<!-- left side end-->
