<%= tinymce_assets %>

<section class="container section">
<%= simple_form_for(@blog, url: blogs_path, html: { class: 'form-horizontal' }) do |f| %>
<div class="row ws-m">
  <div class="col-md-offset-2 col-md-8">

  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>
      <ul>
      <% @blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a Category "} %>
  <div class="form-group">
    <%= f.input :title, placeholder: "Please type your Title", class: "tinymce", :rows => 16, :cols => 16  %>
  </div>
  <div class="form-group">
    <%= f.input :sub_title, placeholder: "Please type your sub_title", class: "tinymce", :rows => 16, :cols => 16  %>
  </div>
  <div class="form-group">
    <%= f.input :body, placeholder: "Please type your content", class: "tinymce", :rows => 16, :cols => 16  %>
  </div>
  <div class="form-group">
    <%= f.input :link %>
  </div>
  <div class="form-group">
    <%= f.input :thumbnail, as: :file %>
  </div>
  <div class="form-group">
    <%= f.submit :submit, class: 'btn btn-border'%>
  </div>
  <%= tinymce_assets %>

<% end %>
</div>
</div>
</section>
