<!-- ========== Page Title ========== -->

    <header class="page-title pt-light pt-plax-md-light" data-stellar-background-ratio="0.4">
     <div class="bg-overlay">
       <div class="container">
         <div class="row">

           <div class="col-sm-6">
             <h1>ZongoBlog</h1>
             <span class="subheading">Latest blog posts</span>
           </div>
           <ol class="col-sm-6 text-right breadcrumb">
             <li><a href="#">Home</a></li>
             <li class="active">Blog</li>
           </ol>

         </div>
       </div>
     </div>
    </header>



    <!-- ========== Blog - 1 Column ========== -->

    <div id="blog" class="section container blog-classic">
      <div class="row">
        <div class="col-md-8">


          <!-- Blog Post 1 -->
          <% @blogs.each do |blog| %>
          <div class="col-md-12">
            <div class="blog-post wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">

            <!-- Image -->
            <%= link_to blog, class: "post-img" do %>
                <%= image_tag blog.thumbnail.url(:medium) %>
            <% end %>

            <div class="bp-content">

              <!-- Meta data -->
              <div class="post-meta">
                <a href="#" class="post-date">
                  <i class="fa fa-calendar-o"></i>
                  <span><%= blog.created_at.strftime("%b, %d, %y") %></span>
                </a>
                <a href="#" class="post-comments">
                  <i class="fa fa-comments-o"></i>
                  <span><%= blog.comments.count %></span>
                </a>
              </div><!-- / .meta -->

              <!-- Post Title -->
              <a href="blog-post.html" class="post-title"><h3><%= raw(blog.title) %></h3></a>

              <!-- Blurb -->
              <p><%= raw(blog.sub_title) %></p>
              <!-- Link -->
              	<%= link_to "Read more", blog, class: "btn btn-sm btn-primary" %>

            </div><!-- / .bp-content -->

            </div><!-- / .blog-post -->

          </div><!-- / .col-md-12 -->
            <% end %>
          <!-- Pagination -->
          <nav class="blog-pagination mb-sm-100">
            <ul class="pagination">
              <li>
                <a href="#" aria-label="Previous">
                  <span aria-hidden="true"><i class="fa fa-angle-double-left"></i></span>
                </a>
              </li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">...</a></li>
              <li><a href="#">7</a></li>
              <li>
                <a href="#" aria-label="Next">
                  <span aria-hidden="true"><i class="fa fa-angle-double-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>

        </div><!-- / .col-md-8 -->



        <!-- ========== Sidebar ========== -->

        <aside class="col-md-offset-1 col-md-3 sidebar">

          <!-- Search - Widget -->
          <div class="col-md-12 ws-s search-widget">
            <div class="form-group">
              <input type="search" placeholder="Search ..." class="form-control">
              <button class="inside-input-btn"><i class="fa fa-search"></i></button>
            </div>
          </div>





          <!-- Categories - Widget -->
          <div class="col-md-12 ws-s categories-widget">
            <h5 class="header-widget">Categories</h5>

            <!-- Item 1 -->
              <% Category.all.each do |category| %>
            <div class="widget-item">
              <%= link_to category.name, blogs_path(category: category.name) %>
            </div>
            <% end %>

          </div><!-- / .categories-widget -->

        </aside><!-- / .sidebar -->

      </div><!-- / .row -->
    </div><!-- / .container -->



    <!-- ========== Footer ========== -->
