<div class="section section-breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1class="section-title" ><span>Zongo</span>Blog</h1>
      </div>
    </div>
  </div>
</div>

    <!-- Posts List -->
    <div class="section blog-posts-wrapper">
    <div class="container">
    <div class="row">
      <!-- Post -->
      <% @blogs.each do |blog| %>
            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
      <div class="col-md-4 col-sm-6">
        <div class="blog-post">
          <!-- Post Info -->
          <div class="post-info">
            <div class="post-date">
              <div class="date"><%= blog.created_at.strftime("%b, %d, %y") %></div>
            </div>
            <div class="post-comments-count">
            <i class="glyphicon glyphicon-comment icon-white"></i><%= @blog.comments.count %>
            </div>
          </div>
          <!-- End Post Info -->
          <!-- Post Image -->
        <%= image_tag blog.thumbnail.ur(:medium), class: "post-image" %>
          <!-- End Post Image -->
          <!-- Post Title & Summary -->
          <div class="post-title">
            <h4><%= link_to blog.title, blog %></h4>
          </div>
          <div class="post-summary">
          <%= raw(blog.sub_title) %>
          </div>
          <!-- End Post Title & Summary -->
          <div class="post-more">
        								<%= link_to "Read more" blog, class: "btn btn-small" %> </a>
        							</div>
      </div>

  </div>
      <% end %>

  </div>
  </div>
  <!-- End Posts List -->
