


    <header class="page-title pt-light pt-plax-md-light" data-stellar-background-ratio="0.4">
     <div class="bg-overlay">
       <div class="container">
         <div class="row">

           <div class="col-sm-6">
             <h1>ZongoBlog</h1>
            
           </div>
           <ol class="col-sm-6 text-right breadcrumb">
             <li><a href="#">Home</a></li>
             <li class="active">Blog</li>
           </ol>

         </div>
       </div>
     </div>
    </header>
s


<div id="blog" class="section container blog-classic">
      <div class="row">
        <div class="col-md-8 mb-sm-160">

            <!-- Blog Post -->
            <div class="col-md-12 blog-post-single wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">

              <!-- Image -->
              <div class=" col-md-6">
              <%= image_tag @blog.thumbnail.url(:medium), class: "img-responsive post-img"  %>
            </div>


              <!-- Meta data -->
              <div class="post-meta">
                <a href="#" class="post-date">
                  <i class="fa fa-calendar-o"></i>
                  <span><%= @blog.created_at.strftime("%b, %d, %y") %></span>
                </a>
                <a href="#" class="post-comments">
                  <i class="fa fa-comments-o"></i>
                  <span><%= @blog.comments.count %></span>
                </a>
              </div><!-- / .meta -->

              <!-- Title -->
              <h2 class="post-title"><%= raw(@blog.title) %></h2>


              <div class="blog-post-content">
                <!-- Intro -->
                <blockquote>
                  <%= raw(@blog.sub_title) %>
                </blockquote>

                <p><%= raw(@blog.body) %></p><br>

              </div>

            </div><!-- / .blog-post-single -->



            <!-- ========== Comments ========== -->

            <div class="row">
              <div class="col-md-12 blog-post-comments">
                <h4 class="blog-section-title">Comments <span>(<%= @blog.comments.count %>)</span></h4>

                <!-- Comment 1 -->
                <%= render @blog.comments %>
              <!-- / .bp-comment -->
                <!-- Leave a comment -->
                <%= render "comments/form" %>
                <!-- / .comment-form -->

              </div><!-- / .blog-post-comments -->
            </div><!-- / .row -->

            <!-- Post Navigation -->
            <div class="row">
              <nav class="blog-post-nav">
                <a href="#" class="prev-btn">Prev post</a>
                <a href="#" class="next-btn">Next post</a>
              </nav>
            </div>

        </div><!-- / .col-md-8 -->



        <!-- ========== Sidebar ========== -->

        <aside class="col-md-offset-1 col-md-3 sidebar">

          <!-- Search - Widget -->
          <div class="col-md-12 ws-s search-widget">
            <div class="form-group">
              <input type="search" placeholder="Search ..." class="form-control">
              <button class="inside-input-btn"><i class="fa fa-search"></i></button>
            </div>
          </div>




          <!-- Categories - Widget -->
          <div class="col-md-12 ws-s categories-widget">
            <h5 class="header-widget">Categories</h5>

            <!-- Item 1 -->
              <% Category.all.each do |category| %>
            <div class="widget-item">
              <%= link_to category.name, blogs_path(category: category.name) %>
            </div>
            <% end %>

          </div><!-- / .categories-widget -->

          <!-- Text - Widget -->
            <div class="col-md-12 text-widget">
              <h5 class="header-widget">contols admin</h5>
              <p>
            <%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary" %> |

            <%= link_to 'Back', blogs_path, class: "btn btn-warning" %>
            <p><%= link_to 'Delete', blog_path(@blog), method: :delete, class: "btn btn-xs btn-default", data: { confirm: 'Are you sure?' }  %>
            </p>
            </div><!-- / .text-widget -->



        </aside><!-- / .sidebar -->

      </div><!-- / .row -->
    </div><!-- / .container -->
