




<div id="blog" class="section container blog-classic">
      <div class="row">
        <div class="col-md-8 mb-sm-160">

            <!-- Blog Post -->
            <div class="col-md-12 blog-post-single wow fadeIn" data-wow-delay=".1s" data-wow-duration="2s">

              <!-- Image -->
              <img class="img-responsive post-img" src="../../assets/images/blog-post-big-1.jpg" alt="Blog Post 1">

              <!-- Meta data -->
              <div class="post-meta">
                <a href="#" class="post-date">
                  <i class="fa fa-calendar-o"></i>
                  <span>August 01.2015</span>
                </a>
                <a href="#" class="post-comments">
                  <i class="fa fa-comments-o"></i>
                  <span>4</span>
                </a>
              </div><!-- / .meta -->

              <!-- Title -->
              <h2 class="post-title">Big headline for this blog post</h2>


              <div class="blog-post-content">
                <!-- Intro -->
                <blockquote>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                </blockquote>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                <br>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam vero natus inventore accusamus, minima libero porro dignissimos assumenda, magnam animi rerum, voluptas! Consequatur quas expedita iure dicta, saepe
                </p>
                  <!-- Left Quote -->
                  <blockquote class="alt-blockquote col-md-6 left-blog-quote">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    <footer>
                      <cite>by Henry Hill</cite>
                    </footer>
                  </blockquote>
                <p>
                  aperiam neque debitis eum est optio. Quod labore unde repellat atque tempora consectetur, accusantium molestias asperiores at esse tenetur, veniam aliquam deserunt accusamus magni ipsum dolor nulla a dignissimos consequuntur ut quas? Unde a, quibusdam adipisci aliquam expedita deleniti modi veritatis debitis, blanditiis vitae perferendis numquam. Iste ipsam, sunt eligendi, officia corporis vitae non rem ut earum, qui amet error. Dolore iure dicta consequuntur facilis et autem non architecto magnam sunt, nostrum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, qui accusamus. Magnam a laudantium et dolor officia molestias quibusdam quasi laborum, autem omnis eaque, incidunt error eos pariatur velit totam deleniti itaque, saepe praesentium excepturi! Fugit omnis nobis, aspernatur, recusandae porro, sint repellendus temporibus sequi labore animi accusamus consectetur adipisicing elit.
                </p>
                <br>
                <!-- List -->
                <ul class="flat-list">
                  <li><i class="fa fa-check">Graphic Design</i></li>
                  <li><i class="fa fa-check">Web Design</i></li>
                  <li><i class="fa fa-check">iOS Development</i></li>
                  <li><i class="fa fa-check">Search Engine Optimization</i></li>
                </ul>
                <br>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                </p>
              </div>

            </div><!-- / .blog-post-single -->



            <!-- ========== Comments ========== -->

            <div class="row">
              <div class="col-md-12 blog-post-comments">
                <h4 class="blog-section-title">Comments <span>(4)</span></h4>

                <!-- Comment 1 -->
                <div class="bp-comment">
                  <div class="comment-avatar"><i class="fa fa-user"></i></div>
                  <div class="comment-info">
                    <h6 class="comment-name">Stella Hartmann</h6>
                    <span class="comment-time">on June 23,2015, at 22:34</span>
                    <button class="comment-replay-btn"><i class="fa fa-mail-reply-all"></i> Reply</button>
                  </div>
                  <p class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div><!-- / .bp-comment -->

                <!-- Replay Comment -->
                <div class="bp-comment-reply">
                  <div class="comment-avatar"><i class="fa fa-user"></i></div>
                  <div class="comment-info">
                    <h6 class="comment-name">Stella Hartmann</h6>
                    <span class="comment-time">on June 23,2015, at 22:34</span>
                    <button class="comment-replay-btn"><i class="fa fa-mail-reply-all"></i> Reply</button>
                  </div>
                  <p class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div><!-- / .bp-comment-reply -->

                <!-- Comment 2 -->
                <div class="bp-comment">
                  <div class="comment-avatar"><i class="fa fa-user"></i></div>
                  <div class="comment-info">
                    <h6 class="comment-name">Stella Hartmann</h6>
                    <span class="comment-time">on June 23,2015, at 22:34</span>
                    <button class="comment-replay-btn"><i class="fa fa-mail-reply-all"></i> Reply</button>
                  </div>
                  <p class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div><!-- / .bp-comment -->

                <!-- Comment 3 -->
                <div class="bp-comment">
                  <div class="comment-avatar"><i class="fa fa-user"></i></div>
                  <div class="comment-info">
                    <h6 class="comment-name">Stella Hartmann</h6>
                    <span class="comment-time">on June 23,2015, at 22:34</span>
                    <button class="comment-replay-btn"><i class="fa fa-mail-reply-all"></i> Reply</button>
                  </div>
                  <p class="comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.</p>
                </div><!-- / .bp-comment -->


                <!-- Leave a comment -->
                <div class="comment-form">
                  <h4 class="blog-section-title">Leave a comment</h4>

                  <form action="http://www.octarinethemes.com/demos/definity/pages/blog/post">
                    <!-- Name -->
                    <div class="col-md-6 form-group no-gap-left">
                      <input type="text" class="form-control" id="inpt-name-forms" placeholder="Enter your name">
                      <label for="inpt-name-forms">Name *</label>
                    </div>

                    <!-- Email -->
                    <div class="col-md-6 form-group no-gap-right">
                      <input type="email" class="form-control" id="inpt-email-forms" placeholder="Enter your email">
                      <label for="inpt-email-forms">Email *</label>
                    </div>

                    <!-- Website -->
                    <div class="col-md-12 form-group no-gap">
                      <input type="url" class="form-control" id="inpt-web-forms" placeholder="http://...">
                      <label for="inpt-name-forms">Website</label>
                    </div>

                    <!-- Comment -->
                    <div class="col-md-12 form-group no-gap">
                      <textarea class="form-control" name="textarea" id="txt-forms" rows="5" placeholder="Your Comment"></textarea>
                      <label for="txt-forms">Comment *</label>
                    </div>

                    <input type="submit" value="Send Comment" class="btn pull-right">
                  </form>
                </div><!-- / .comment-form -->

              </div><!-- / .blog-post-comments -->
            </div><!-- / .row -->

            <!-- Post Navigation -->
            <div class="row">
              <nav class="blog-post-nav">
                <a href="#" class="prev-btn">Prev post</a>
                <a href="#" class="next-btn">Next post</a>
              </nav>
            </div>

        </div><!-- / .col-md-8 -->



        <!-- ========== Sidebar ========== -->

        <aside class="col-md-offset-1 col-md-3 sidebar">

          <!-- Search - Widget -->
          <div class="col-md-12 ws-s search-widget">
            <div class="form-group">
              <input type="search" placeholder="Search ..." class="form-control">
              <button class="inside-input-btn"><i class="fa fa-search"></i></button>
            </div>
          </div>


          <!-- Tags - Widget -->
          <div class="col-md-12 ws-s tags-widget">
            <h5 class="header-widget">Tags</h5>
            <ul class="tag-list">
              <li><a href="#">Photography</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">Development</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">UI/UX</a></li>
              <li><a href="#">Design</a></li>
              <li><a href="#">HTML5</a></li>
              <li><a href="#">CSS3</a></li>
              <li><a href="#">iOS</a></li>
            </ul>
          </div>


          <!-- Recent Posts - Widget -->
          <div class="col-md-12 ws-s recent-posts-widget">
            <h5 class="header-widget">Recent Posts</h5>

            <!-- Item 1 -->
            <div class="widget-item">
              <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
              <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
            </div>

            <!-- Item 2 -->
            <div class="widget-item">
              <a href="#"><h6 class="h-alt">Another Blog Post Example</h6></a>
              <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
            </div>

            <!-- Item 3 -->
            <div class="widget-item">
              <a href="#"><h6 class="h-alt">Blog Post Example</h6></a>
              <span>by <a href="#">Joel Fischer</a> / <a href="#">June 23</a></span>
            </div>

          </div><!-- / .recent-posts-widget -->


          <!-- Categories - Widget -->
          <div class="col-md-12 ws-s categories-widget">
            <h5 class="header-widget">Categories</h5>

            <!-- Item 1 -->
            <div class="widget-item">
              <a href="#">Web Design - <span>15</span></a>
            </div>

            <!-- Item 2 -->
            <div class="widget-item">
              <a href="#">Graphic Design - <span>6</span></a>
            </div>

            <!-- Item 3 -->
            <div class="widget-item">
              <a href="#">iOS Development - <span>12</span></a>
            </div>

            <!-- Item 4 -->
            <div class="widget-item">
              <a href="#">Other - <span>3</span></a>
            </div>

          </div><!-- / .categories-widget -->


          <!-- Comments - Widget -->
          <div class="col-md-12 ws-s comments-widget">
            <h5 class="header-widget">Comments</h5>

            <!-- Item 1 -->
            <div class="widget-item">
              <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
            </div>

            <!-- Item 2 -->
            <div class="widget-item">
              <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
            </div>

            <!-- Item 3 -->
            <div class="widget-item">
              <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Lorem ipsum dolor sit amet</a></span>
            </div>

            <!-- Item 4 -->
            <div class="widget-item">
              <span><a href="#">Jon Doe</a> on <a href="#" class="widget-comm-title">Sed do eiusmod</a></span>
            </div>

          </div><!-- / .comments-widget -->


          <!-- Text - Widget -->
          <div class="col-md-12 text-widget">
            <h5 class="header-widget">Text Widget</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae qui error, incidunt quia pariatur facere quasi totam inventore amet rerum.</p>
          </div><!-- / .text-widget -->

        </aside><!-- / .sidebar -->

      </div><!-- / .row -->
    </div><!-- / .container -->





















<div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1>ZongoBlog</h1>
                </div>
                <div class="col-md-5">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Show</a>
                        </li>
                        <li><a href="blog.html">Blog</a>
                        </li>
                        <li>Blog Post</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="row">
                <!-- *** LEFT COLUMN *** -->
                <div class="col-md-6" id="blog-post">
                    <div id="post-content">
                      <p class="text-muted text-uppercase mb-small text-right">By<%= @blog.created_at.strftime("%b, %d, %y") %></p>
                        <h2><%= raw(@blog.title) %></h2>
                        <p>
                            <%= image_tag @blog.thumbnail.url(:medium), class: "img-responsive"  %>
                        </p>

                        <h2><%= raw(@blog.title) %></h2>

                        <blockquote>
                            <p><%= raw(@blog.sub_title) %></p>
                        </blockquote>

                        <p><%= raw(@blog.body) %></p>

                    </div>
                    <!-- /#post-content -->

                    <div id="comments">
                        <h5 class="text-uppercase"><%= @blog.comments.count %></h5>
                        <div class="row comment">
                            <div class="col-sm-3 col-md-2 text-center-xs">
                                <p>
                                  <%= image_tag "Avatar.png", class: "img-responsive img-circle" %>
                                </p>
                            </div>
                            <div class="col-sm-9 col-md-10">
                                <p><%= render @blog.comments %></p>
                            </div>
                        </div>
                        <!-- /.comment -->
                        <div id="comment-form">
                          <h4 class="text-uppercase">Leave comment</h4>
                          <div class="comment-form-wrapper">
                             <%= render "comments/form" %>
                          </div>
                        </div>
                    <!-- /#comments -->
                  </div>
                <!-- /#blog-post -->

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN ***_ -->

                <div class="col-md-4 col-offset-md-1">
                    <!-- *** MENUS AND WIDGETS ** -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Text widget</h3>
                        </div>
                        <div class="panel-body text-widget">
                            <p>Welcome To ZongoBlog. Always Whereever You are !!!!
                            </p>
                        </div>
                    </div>
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="panel-title">Search</h3>
                        </div>
                        <div class="panel-body">
                            <form role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">

                                      <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Categories</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <<% Category.all.each do |category| %>
                                  <li class="active">
                                      <%= link_to category.name, blogs_path(category: category.name) %>
                                  </li>
                                      <% end %>
                            </ul>
                        </div>
                    </div>

                    <!-- *** MENUS AND FILTERS END *** -->

                </div>
                <!-- /.col-md-3 -->

                <!-- *** RIGHT COLUMN END *** -->
              </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->





        <!-- End Blog Post -->
        <!-- Sidebar -->



<div class=" container text-center" >
  <p>
<%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary" %> |

<%= link_to 'Back', blogs_path, class: "btn btn-warning" %>
<p><%= link_to 'Delete', blog_path(@blog), method: :delete, class: "btn btn-xs btn-default", data: { confirm: 'Are you sure?' }  %>
</p>
</p>
</div>
