<p class="posted"><i class="fa fa-clock-o"></i><%= time_ago_in_words(comment.created_at) %> Ago</p><ul class="post-comments">
    <li>
      <div class="comment-wrapper">
        	<div class="comment-author"><%= comment.name %></div>
          <%= comment.body %>
        <!-- Comment Controls -->
        <div class="comment-actions">
          <span class="comment-date">  <%= time_ago_in_words(comment.created_at) %> Ago</span>

        		<hr>

        			<p><%= link_to 'Delete', [comment.blog, comment],method: :delete, class: "btn btn-xs btn-default", data: { confirm: 'Are you sure?' }  %>
        			</p>

        </div>
      </div>
    </li>


  </ul>
