
		<!-- Start Intro Section -->
		<section id="intro" class="section-intro">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="main-text">
							<h1 class="wow fadeInUp"><span>ZongoSoft</span> - Bridging The Digital Divide</h1>
							<h2 class="wow fadeInUp" data-wow-delay=".7s">Best Solution For Your Digital Succes</h2>
							<div class="wow fadeInUp" data-wow-delay="1.5s"><a onclick="smoothScr.anim('services')" class="btn btn-border btn-lg"><i class="fa fa-spinner fa-spin"></i> Explore</a></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Intro Section -->
		<section id="feature">
	    <div class="container">
	      <div class="row">
	        <div class="text-center">
	          <div class="title-area">
	            <h2 class="section-title text-center ">Features</h2>
	            <span class="line"></span>
	            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
	          </div>
	        </div>
	        <div class="col-md-12">
	          <div class="feature-content">
	            <div class="row">
	              <div class="col-md-4 col-sm-6">
	                <div class="single-feature wow zoomIn">
	                  <i class="fa fa-leaf feature-icon"></i>
	                  <h4 class="feat-title">Creative Design</h4>
	                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
	                </div>
	              </div>
	              <div class="col-md-4 col-sm-6">
	                <div class="single-feature wow zoomIn">
	                  <i class="fa fa-mobile feature-icon"></i>
	                  <h4 class="feat-title">Responsive Layouts</h4>
	                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
	                </div>
	              </div>
	              <div class="col-md-4 col-sm-6">
	                <div class="single-feature wow zoomIn">
	                  <i class="fa fa-thumbs-o-up feature-icon"></i>
	                  <h4 class="feat-title">Great Features</h4>
	                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
	                </div>
	              </div>
	              <div class="col-md-4 col-sm-6">
	                <div class="single-feature wow zoomIn">
	                  <i class="fa fa-gears feature-icon"></i>
	                  <h4 class="feat-title">Multiple Options</h4>
	                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
	                </div>
	              </div>
	              <div class="col-md-4 col-sm-6">
	                <div class="single-feature wow zoomIn">
	                  <i class="fa fa-code feature-icon"></i>
	                  <h4 class="feat-title">Quality Code</h4>
	                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
	                </div>
	              </div>
	              <div class="col-md-4 col-sm-6">
	                <div class="single-feature wow zoomIn">
	                  <i class="fa fa-smile-o feature-icon"></i>
	                  <h4 class="feat-title">Awesome Support</h4>
	                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
	                </div>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	  </section>
	  <!-- End Feature -->

		<!-- video post --->

		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-6">
					<div class="post-video">
						<div class="post-heading">
						<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Take A</span> Peek</h1>
						</div>
						<div class="video-container">
							<%= video_tag "z.mp4", :autoplay => true, :loop => true, :type => "video/mp4" %>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Start Why chose us Section -->
		<section id="why-chose">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Why</span> Chose</h1>
				<div class="row">
					<div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-delay="0.5s">
						<div class="content-left">
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-laptop"></i>
								</span>
								<div class="content">
									<h4>Responsive Layout</h4>
									<p>We integrate and produce great responsivness and smooth layouting for our websites.</p>
								</div>
							</div>
							<br>
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-cog"></i>
								</span>
								<div class="content">
									<h4>Clean Code</h4>
									<p> Our  Web apps and Ui's ar well documented and launched on github, we have  clean and easy to re use codes which  you can always refrence are github-bd projects by visting our github pages @kizzonia.</p>
								</div>
							</div>
							<br>
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-random"></i>
								</span>
								<div class="content">
									<h4>Cross Browser</h4>
									<p>Our high levels of funtionality make our websites nad web applications universally compatable with most browsers</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 wow fadeInUp" data-wow-offset="10"  data-wow-delay="0.3s">
						<div class="showcase-box">
						<%= image_tag "why.png" %>
						</div>
					</div>
					<div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-delay="0.5s">
						<div class="content-right">
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-umbrella"></i>
								</span>
								<div class="content">
									<h4>Premium Features</h4>
									<p>We also offer free plugins and paid plugins which you can always checkout and request from.</p>
								</div>
							</div>
							<br>
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-heart"></i>
								</span>
								<div class="content">
									<h4>Modern Design</h4>
									<p>Our Ui/UX designs are always up-to-date with the latest and clean features .</p>
								</div>
							</div>
							<br>
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-comments"></i>
								</span>
								<div class="content">
									<h4>24/7 Live Chat Support</h4>
									<p> We Are Here To Serve You,Connect With Us.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- End Why chose us Section  -->

		<!-- Start About Us Section -->
		<section id="about" class="about-section">
			<div class="container">
			<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>About</span> Us</h1>
				<div class="row">
							<div class="col-sm-6 col-md-6 wow fadeInLeft" data-wow-offset="10">
									<div class="col-md-6  img-responsive">
										<%= image_tag "JR.jpg" %>
									<div class="info">
										<h4>JR A Agbortoko</h4>
										<p>CEO/IT Expert</p>
									</div>
								</div>
							</div>

							<div class="col-md-6 col-md-6 wow fadeInRight">
								<p >JR A Agbortoko always had the determination to be great at what he does with a deep passion to making the world and his society a better place, he also committed his time and resources in the young and talented youths to empower them and develop their untapped skills . With his level of devotion and commitment towards making his society and the world a better he has been able to create build efficient business and interpersonal professional relationship and also impact his society greatly.
									</p>
								</div>

							<div class="col-sm-6 col-md-6">
									<div class="col-md-6 img-responsive">
									<%= image_tag "FJ.jpeg" %>
									<div class="info">
										<h4>Fortune J Chibike</h4>
										<h5>IT Expert & Web developer </h5>
									</div>
								</div>
									</div>
							<div class="col-md-6 col-md-6">
									<p >
								Hi, Am Fortune J , A front-end and back-end developer and designer, with  the lastest technologies making suff for the web is a whole lot fun and beautiful, creativity and experimentations are my thing and with a drop of passion and love, mized with some potent skills, HURRAY!! we have a perfect elixer for the Job, Wanna try ........................................................?</div>
							</div>
				</div>
			</div>
		</div>
		</section>
		<!-- End About Us Section -->

		<!-- Start Contact Section -->
		<section id="contact">
			<div class="overlay">
				<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Contact</span> Us</h1>
					<div class="row">
						<div class="contact-form">
              <section id="connected1">
                <div class="text-center">
              <div class="contact-item">
								<a href="#"><i class="fa fa-phone"></i></a>
								<h5>Support Team</h5>
                <p class="text-center"> <%= link_to "We Are Here To Assist You", new_contact_path, class: "btn btn-border" %></p>

							</div>
          </div>
          </section>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contact Section -->
