
		<!-- Start Intro Section -->
		<section id="intro" class="section-intro">
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="main-text">
							<h1 class="wow fadeInUp"><span>ZongoSoft</span> - Bridging The Digital Divide</h1>
							<h2 class="wow fadeInUp" data-wow-delay=".7s">Best Solution For Your Digital Succes</h2>
							<div class="wow fadeInUp" data-wow-delay="1.5s"><a onclick="smoothScr.anim('services')" class="btn btn-border btn-lg"><i class="fa fa-spinner fa-spin"></i> Explore</a></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Intro Section -->

		<!-- Start Services Section -->
		<section id="services">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Our</span> Services</h1>
				<div class="row">
					<div class="col-sm-6 col-md-3 wow fadeInUp">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-leaf"></i>
								</div>
								<h2>SEO</h2>
								<p>Are you being found online? Are you struggling to move your website onto the first page of search engine results?….</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay=".2s" data-wow-offset="10">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-heart"></i>
								</div>
								<h2>Web Design & Development</h2>
								<p>Can you afford to invest in a website that looks great, but doesn’t build your profits or your brand? Why….</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay=".4s" data-wow-offset="10">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-child"></i>
								</div>
								<h2>Inbound Marketing</h2>
								<p>Today’s shoppers have much greater control over the buying process. They’re using the web to find local businesses, compare products…</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay=".6s" data-wow-offset="10">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-mobile-phone"></i>
								</div>
								<h2>Social Media</h2>
								<p>With billions of people logging on to social media sites each month, it’s crucial that your business not only has….</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 col-md-offset-3 wow fadeInUp" data-wow-delay=".6s" data-wow-offset="10">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-mobile-phone"></i>
								</div>
								<h2>Conversion</h2>
								<p>You’ve spent a lot of time and money building your business, and your website. Now invest in conversion marketing strategies….</p>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay=".6s" data-wow-offset="10">
						<div class="service-box">
							<div class="content">
								<div class="icon-wrapper">
								<i class="fa fa-search"></i>
								</div>
								<h2>Paid Search</h2>
								<p>Businesses across all industries can benefit from the immediate advantages paid search, or pay-per-click (PPC) advertising, provides. PPC advertising offers….</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Services Section-->

<!--start editing-->
		<!-- Start Portfolio Section -->

			<div class="container">
          				<div class="row">
          					<div class="col-lg-12">
          		          <h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Our</span> Features</h1>
          						<div class="clearfix">
          						</div>
          							<section id="projects">
          							         <ul id="thumbs" class="portfolio">
          								<!-- Item Project and Filter Name -->
          								<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                <li class="item-thumbs col-lg-3 design" data-id="id-0" data-type="web">
                                    <div class="item-thumbs">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <%= link_to "1D.jpg", class:"hover-wrap" do %>
                    <%= image_tag "1D.jpg", class: " fancybox", title: "Discovery and Planning", alt: "We talk about your goals for the site, and everything you want it to do. We use this information to create a plan of the website, called the specification." do %>
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb font-icon-plus"></span>
                    <% end %>
               <% end %>
               <%= image_tag "1D.jpg", style: "height: 150px;", title: "Discovery and Planning", alt: "We talk about your goals for the site, and everything you want it to do. We use this information to create a plan of the website, called the specification."  %>
          </div>
             </li>
          								<!-- Item Project and Filter Name -->
                          <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                          <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="icon">
                            <div class="item-thumbs">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <%=link_to "2D.jpg", class:"hover-wrap" do %>
                    <%= image_tag "2D.jpg", class: " fancybox", title: "Estimating the project ", alt: "We use the specification to estimate how long it will take (and how much it will cost) to create each component. We quote exactly what the specification says, so we need to be very accurate with our estimates" do %>
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb font-icon-plus"></span>
                    <% end %>
               <% end %>
               <%= image_tag "2D.jpg", style: "height: 150px;", title: "Estimating the project", alt: "We use the specification to estimate how long it will take (and how much it will cost) to create each component. We quote exactly what the specification says, so we need to be very accurate with our estimates"  %>
          </div>
             </li>


          								<!-- End Item Project -->
          								<!-- Item Project and Filter Name -->
                          <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                          <li class="item-thumbs col-lg-3 design" data-id="id-2" data-type="illustrator">
                            <div class="item-thumbs">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <%=link_to "3D.jpg", class:"hover-wrap" do %>
                    <%= image_tag "3D.jpg", class: " fancybox", title: "Launch Plan", alt: "We workout the features we need to include, when we launch the new site and schedule others for future..." do %>
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb font-icon-plus"></span>
                    <% end %>
               <% end %>
               <%= image_tag "3D.jpg", style: "height: 150px;", title: "Launch Plan ", alt: "We workout the features we need to include, when we launch the new site and schedule others for future..."  %>
          </div>
             </li>
          								<!-- Thumb Image and Description -->

          								<!-- Item Project and Filter Name -->
                          <li class="item-thumbs col-lg-3 design" data-id="id-3" data-type="web">
                            <div class="item-thumbs">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <%=link_to "4D.png", class:"hover-wrap" do %>
                    <%= image_tag "4D.png", class: " fancybox", title: "Build It", alt: "We design the morkup, prototypes for you to test and play with. Working towards the end goal which is the final site for testing and approval.." do %>
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb font-icon-plus"></span>
                    <% end %>
               <% end %>
               <%= image_tag "4D.png", style: "height: 150px;", title: "Build It", alt: "We design the morkup, prototypes for you to test and play with. Working towards the end goal which is the final site for testing and approval.."  %>
          </div>
                        </li>
          								<!-- Thumb Image and Description -->

          								<!-- Item Project and Filter Name -->
                          <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="web">
                            <div class="item-thumbs">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <%=link_to "4D.png", class:"hover-wrap" do %>
                    <%= image_tag "4D.png", class: " fancybox", title: "Pre-Launch", alt: "We put the site on a pre-launch server for you to test and learn the administrative functionalities, and to do final polishing of the content before launch.." do %>
                    <span class="overlay-img"></span>
                    <span class="overlay-img-thumb font-icon-plus"></span>
                    <% end %>
               <% end %>
               <%= image_tag "4D.png", style: "height: 150px;", title: "Pre-Launch", alt: "We put the site on a pre-launch server for you to test and learn the administrative functionalities, and to do final polishing of the content before launch.."  %>
          </div>
                        </li>

          								<!-- End Item Project -->
          								<!-- Item Project and Filter Name -->
                          <li class="item-thumbs col-lg-3 design" data-id="id-1" data-type="web">
                            <div class="item-thumbs">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                  <%= link_to "5D.png", class:"hover-wrap" do %>
                                  <%= image_tag "5D.png", class: " fancybox", title: "Launch and Post-launch", alt: "We launch the site for public usage. Post launch might include sending out mails, monitoring statistics, further training for staffs etc... These dependence on the said project." do %>
                                  <span class="overlay-img"></span>
                                  <span class="overlay-img-thumb font-icon-plus"></span>
                                  <% end %>
                                  <% end %>
                                    <%= image_tag "5D.png", style: "height: 150px;", title: "Launch and Post Launch", alt: "We launch the site for public usage. Post launch might include sending out mails, monitoring statistics, further training for staffs etc... These dependence on the said project"  %>
                          </div>
                        </li>

          								<!-- End Item Project -->
          							</ul>
          							</section>
          						</div>
          					</div>
				</div>


		<!-- End Portfolio Section -->

		<!-- Start Why chose us Section -->
		<section id="why-chose">
			<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Why</span> Chose</h1>
				<div class="row">
					<div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-delay="0.5s">
						<div class="content-left">
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-laptop"></i>
								</span>
								<div class="content">
									<h4>Responsive Layout</h4>
									<p>We integrate and produce great responsivness and smooth layouting for our websites.</p>
								</div>
							</div>
							<br>
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-cog"></i>
								</span>
								<div class="content">
									<h4>Clean Code</h4>
									<p> Our  Web apps and Ui's ar well documented and launched on github, we have  clean and easy to re use codes which  you can always refrence are github-bd projects by visting our github pages @kizzonia.</p>
								</div>
							</div>
							<br>
							<div class="box-left">
								<span class="icon">
									<i class="fa fa-random"></i>
								</span>
								<div class="content">
									<h4>Cross Browser</h4>
									<p>Our high levels of funtionality make our websites nad web applications universally compatable with most browser</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 wow fadeInUp" data-wow-offset="10"  data-wow-delay="0.3s">
						<div class="showcase-box">
						<%= image_tag "why.png" %>
						</div>
					</div>
					<div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-delay="0.5s">
						<div class="content-right">
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-umbrella"></i>
								</span>
								<div class="content">
									<h4>Premium Features</h4>
									<p>We also offer free plugins and paid plugins which you can always checkout and request from.</p>
								</div>
							</div>
							<br>
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-heart"></i>
								</span>
								<div class="content">
									<h4>Modern Design</h4>
									<p>Our Ui/UX designs are always up-to-date with the latest and clean features .</p>
								</div>
							</div>
							<br>
							<div class="box-right">
								<span class="icon">
									<i class="fa fa-comments"></i>
								</span>
								<div class="content">
									<h4>24/7 Live Chat Support</h4>
									<p> We Are Here To Serve You,Connect With Us.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<br>
		<br>
		<br>
		<br>
		<!-- End Why chose us Section  -->

		<!-- video post --->
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-6">
					<div class="post-video">
						<div class="post-heading">
						<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Take A</span> Peek</h1>
						</div>
						<div class="video-container">
							<iframe src="https://www.youtube.com/embed/-IptSORrBRA">
							</iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Testimonial Section -->
		<!-- Start About Us Section -->
		<section id="about" class="about-section">
			<div class="container">
			<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>About</span> Us</h1>
				<div class="row">
					<div id="slide" class="owl-carousel">
						<div class="item">
							<div class="col-sm-6 col-md-6 wow fadeInLeft" data-wow-offset="10">
								<div class="side-left">
										<img src="assets/img/about-carousel/01.jpg" alt="">
									<div class="info">
										<h4>John Doe</h4>
										<p>Ul/UX Developer</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6 wow fadeInRight">
								<p> datas unde omnis iste natus error sit voluptatem accusantlum doloremque laudantium, tota m rem aperiam, eaque ipsa quae ab illo inventore veritais ea quasi architecto beattae vista dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consiquuntur magin dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem iqsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eisu modi tempora incidunt ut labore et nostrum exercitationem ullam corporis suscipit laboriosam.
									</p>
									<a href="#" class="btn btn-border"><i class="fa fa-shopping-cart"></i> Hire Me</a>
									<a href="#" class="btn btn-border"><i class="fa fa-download"></i> Download Resume</a>
								</div>
							</div>
						</div>

						<div class="item">
							<div class="col-sm-6 col-md-6">
								<div class="side-left">
										<img src="assets/img/about-carousel/02.jpg" alt="">
									<div class="info">
										<h4>JR A Agbortoko </h4>
										<h5>CEO/IT Expert </h5>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="side-right">
									<p>
									JR A Agbortoko always had the determination to be great at what he does with a deep passion to making the world and his society a better place, he also committed his time and resources in the young and talented youths to empower them and develop their untapped skills  . With his level of devotion and commitment towards making his society and the world a better he has been able to create build efficient business and interpersonal professional relationship and also impact his society greatly.
								</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>
		<!-- End About Us Section -->

		<!-- Start Contact Section -->
		<section id="contact">
			<div class="overlay">
				<div class="container">
				<h1 class="section-title wow fadeIn" data-wow-delay=".2s"><span>Contact</span> Us</h1>
					<div class="row">
						<div class="contact-form">
              <section id="connected1">
                <div class="text-center">
              <div class="contact-item">
								<a href="#"><i class="fa fa-phone"></i></a>
								<h5>Support Team</h5>
                <p class="text-center"> <%= link_to "We Are Here To Assist You", new_contact_path, class: "btn btn-border" %></p>

							</div>
          </div>
          </section>
					</div>
				</div>
			</div>
		</section>
		<!-- End Contact Section -->
