<div class="col-md-12 col-lg-offset-2 col-lg-8">
  <div class="form-wrapper">
    <div class="from-header">
      <h2>Get in touch</h2>
      <p>Have a project you would like us to consider or just want to say hello? We would love to hear from you. Use the form below to describe your project and contact us. We promise to get in touch with you shortly.</p>
    </div>
<%= simple_form_for(@contact, url: contacts_path) do |f| %>
  <%= f.error_notification %>


      <div class="form-group">
        <%= f.input :name, placeholder: " Type Your Name "%>

      </div>
      <div class="form-group">
        <%= f.input :email, placeholder: "Type Your E-mail" %>
      </div>

  </div>
  <div class="form-group">
    <%= f.input :body, placeholder: "Tell Us About It ", :rows => 16, :cols => 8 %>
  </div>

  <div class=" controls col-md-8 ">
      <%= f.submit :submit, class: "btn btn-ghost" %>
  </div>
<% end %>



					</div>
				</div>
			</div>
		</section>
