<section class="container section">
<%= simple_form_for(@project, url: projects_path, html: { class: 'form-horizontal' } )do |f| %>
<div class="row ws-m">
  <div class="col-md-8 col-md-offset-2">
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :name %>
  </div>
  <div class="form-group">
    <%= f.trix_editor :description, placeholder: "Project description" %>
  </div>
  <div class="form-group">
    <%= f.trix_editor :history, placeholder: "Project history" %>
  </div>
  <div class="form-group">
    <%= f.input :thumbnail %>
  </div>
  <div class="form-group">
    <%= f.submit :submit, class: "btn btn-submit" %>
  </div>
<% end %>
</div>
</div>
</section>
