<%= simple_form_for(@project, url: projects_path, html: { class: 'form-horizontal' } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="controls">
    <%= f.input :name %>
  </div>
  <div class="controls">
    <%= f.input :description %>
  </div>
  <div class="controls">
    <%= f.input :history %>
  </div>
  <div class="controls">
    <%= form.input :thumbnail, as: :file %>
  </div>
  <div class="controls">
    <%= f.submit :submit, class: "btn btn-submit" %>
  </div>
<% end %>
