<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h1>PORTFOLIO & Projects</h1>
					</div>
				</div>
			</div>
		</div>

        <div class="section">
	    	<div class="container">
				<div class="row">
          <% @projects.each do |project| %>
					<div class="col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
								<a href="page-portfolio-item.html"><%= image_tag project.thumbnail.url(:medium) %> </a>
							</div>
							<div class="portfolio-info-fade">
								<ul>
									<li class="portfolio-project-name"><%= project.name %></li>
									<li><%= project.description %></li>
									<li><%= project.history %></li>
									<li class="read-more"><%= link_to 'Show', project, class: "btn" %></li>
                  <li><%= link_to 'Edit', edit_project_path(project) %></li>
              <li>  <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
								</ul>
							</div>
						</div>
					</div>

              <% end %>
						</div>
					</div>
        </div>








  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
