


			<header class="page-title pt-large pt-light pt-parallax pt-plax-lg-light" data-stellar-background-ratio="0.4">
				<div class="container">
						<div class="row">

							<div class="col-sm-6">
								<h1>Portfolio</h1>
								<span class="subheading">Some of our work</span>
							</div>
							<ol class="col-sm-6 text-right breadcrumb">
								<li><a href="#">Home</a></li>
								<li><a href="#">Elements</a></li>
								<li class="active">Portfolio</li>
							</ol>

						</div>
					</div>
			</header>




			<section class="container section portfolio-layout portfolio-1col-boxed">
				<div class="row">
					<header class="sec-heading">
						<h2>Some of our project</h2>
						<span class="subheading">Projects That Makes You See The World From Your Palms</span>
					</header>
				</div><!-- / .row -->


				<div class="row">
					<div id="pfolio">

						<!-- Item 1 -->
						  <% @projects.each do |project| %>
						<figure class="portfolio-item print">
							<div class="col-md-7 no-gap img-wrapper">
								<%= image_tag project.thumbnail.url(:medium) %>
							</div>
							<figcaption class="col-md-5 no-gap">
								<h3><%= project.name %></h3>
								<h5 class="subheading"><%= project.sub_title %></h5>
								<p><%= raw(project.description) %>.</p>

								<%= link_to 'Veiw projects', project, class: "btn-ghost btn-small view-btn" %>
							</figcaption>
						</figure><!-- / .portfolio-item -->

						<% end %>
					</div><!-- / #pfolio -->
				</div><!-- / .row -->
			</section><!-- / .container -->



			<!-- ========== CTA - Contact Link ========== -->

			<div class="cta-link">
				<div class="bg-overlay">

					<div class="cta-wrapper">
						<h3 class="h-alt wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">Love to hear from you</h3>
						<a href="#contact" class="btn btn-light btn-large wow fadeIn" data-wow-delay=".3s" data-wow-duration="1s">Get in touch</a>
					</div>

				</div>
			</div><!-- / .cta-link -->



<%= link_to 'New Project', new_project_path %>
