


<p id="notice"><%= notice %></p>

        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1>Projects Description</h1>
					</div>
				</div>
			</div>
		</div>

        <div class="section">
	    	<div class="container">
				<div class="row">
					<!-- Image Column -->
					<div class="col-sm-6">
						<div class="portfolio-item">
							<div class="portfolio-image">
							<%= image_tag @project.thumbnail.url(:medium) %>
							</div>
						</div>
					</div>
					<!-- End Image Column -->
					<!-- Project Info Column -->
					<div class="portfolio-item-description col-sm-6">
						<h3><%= @project.name %></h3>
					<%= @project.description %>
						<ul class="no-list-style">
							<li><%= @project.history %></li>
							<li><b>Date:</b> <%= @project.created_at.strftime("%b, %d, %y") %></li>
							<li><b>Technologies:</b> HTML5, CSS3, jQuery, Ruby, MySQL, Rails, Ajax JavaScript </li>
						</ul>
					</div>
					<!-- End Project Info Column -->
				</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
