
<section class="container section">
<%= simple_form_for(@about) do |f| %>
<div class="row ws-m">
  <div class="col-md-offset-2 col-md-8">
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, placeholder: "Name anmd Title " %>
  </div>
  <div class="form-group">
    <%= f.input :portfolio, :as => :ckeditor, :input_html=> {:ckeditor => {:toolbar => "Full"}}, :rows => 16, :cols => 16  %>
  </div>
  <div class="form-group">
    <%= f.input :website, placeholder: "https//:" %>
  </div>
  <div class="form-group">
    <%= f.input :email, placeholder: "Type Your official email" %>
  </div>
  <div class="form-group">
    <%= f.input :signature, placeholder: "Whats Your Role & Postion" %>
  </div>
  <div class="form-group">
    <%= f.input :contact, placeholder: "Other ways of contacting You" %>
  </div>
  <div class="form-group">
    <%= f.input :hobby, :as => :ckeditor, :input_html=> {:ckeditor => {:toolbar => "Full"}}, :rows => 16, :cols => 16  %>
  </div>
  <div class="form-group">
    <%= f.input :thumbnail, as: :file %>
  </div>

  <div class="form-group">
    <%= f.submit :submit, class: "btn btn-ghost-light" %>
  </div>
<% end %>
</div>
</div>
</section>
