
<header class="page-title pt-large pt-light pt-parallax pt-plax-lg-light" data-stellar-background-ratio="0.4">
	<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<h1>Meet Us</h1>
					<span class="subheading">Our Amazing Team</span>
				</div>
				<ol class="col-sm-6 text-right breadcrumb">
					<li><%= link_to "Home", root_path %></li>
					<li class="active"><%= link_to "About us", abouts_path %></li>
				</ol>

			</div>
		</div>
</header>
  <!-- ========== Team - 4 columns ========== -->


    <section class="container section team-4col">
      <div class="row">

        <div class="text-center">
          <h2>Meet the team</h2>
          <span class="subheading">We are creative professionals</span>
        </div>


      <% @abouts.each do |about| %>
        <!-- Member 1 -->
        <div class="col-lg-3 col-md-6 mb-sm-50">
          <div class="t-item">

            <!-- Image -->
            <div class="t-image">
            <%= image_tag about.thumbnail.url(:medium), class: "img-responsive" %>
              <div class="t-description">
                <div class="content-wrapper">
                  <h4 class="h-alt"><%= about.name %></h4>
                  <p>About Me...?.</p>
                  <%= link_to "Veiw Profle", about, class: "btn btn-small" %>
                </div>
              </div>
            </div>

            <!-- Info -->
            <div class="t-info">
              <h4 class="t-name"><%= about.name %></h4>
              <span class="t-role"><%= about.signature %></span>
              <span  class="t-role">
              <%= about.email %>
              </span>
            </div>

          </div><!-- / .t-item -->
        </div><!-- / .col-lg-3 -->

        <% end %>


      </div><!-- / .row -->
    </section><!-- / .contianer -->






  <!-- ========== Feature ========== -->

  <section class="container ft-centered">
    <div class="row section">

      <div class="text-center">
        <h2>Why chose us</h2>
        <span class="subheading">We provide high quality services</span>
      </div>

      <!-- Item 1 -->
      <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-circle-overlay">
        <span class="et-tools"></span>
        <h5>Web Design</h5>
        <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
      </div>

      <!-- Item 2 -->
      <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-circle-overlay">
        <span class="et-mobile"></span>
        <h5>iOS Development</h5>
        <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
      </div>

      <!-- Item 3 -->
      <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-circle-overlay">
        <span class="et-anchor"></span>
        <h5>Branding</h5>
        <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
      </div>

      <!-- Item 4 -->
      <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-circle-overlay">
        <span class="et-linegraph"></span>
        <h5>Marketing</h5>
        <p>Lorem ipsum dolor sit amet, ete elit consectetur adipisicing. Omnis quae, ipsam impedit eius, vero.</p>
      </div>

    </div><!-- / .row -->
    <hr>
  </section><!-- / .container .ft-frames -->



  <!-- ========== CTA - Contact Link ========== -->

  <div class="cta-link">
    <div class="bg-overlay">



    </div>
  </div><!-- / .dark-bg .cta-link -->

<br>
