<header class="page-title pt-large pt-light pt-parallax pt-plax-lg-light" data-stellar-background-ratio="0.4">
	<div class="container">
			<div class="row">

				<div class="col-sm-6">
					<h1>Meet Us</h1>
					<span class="subheading">Our Amazing Team</span>
				</div>
				<ol class="col-sm-6 text-right breadcrumb">
					<li><%= link_to "Home", root_path %></li>
					<li class="active"><%= link_to "About us", abouts_path %></li>
				</ol>

			</div>
		</div>
</header>

<br>
<br>




    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
						    <h3 class="text-center"> Portfolio </h3>
<br>
<br>

                <div class="col-md-4 ">

                  <%= image_tag @about.thumbnail.url(:large), class: "img-responsive" %>
								</div>
										  <br>
											<div class="col-md-6 col-md-offset-2">
									<h3 class="text-center">
		                <%= @about.name %>
		              </h3>
									<p>
										<%= @about.portfolio %>
							  	</p>
                <br>
                <h3 class="text-center"> Hobby </h3>
                <p>  <%= @about.hobby %></p>


                    <ul>
                      <li><strong>Website:</strong> <%= @about.website %></li>
                      <li>  <strong>Email:</strong>   <%= @about.email %></li>
                      <li> <strong>Signature & Role:</strong>   <%= @about.signature %> </li>
                      <li><strong>Contact:</strong> <%= @about.contact %> </li>

                    </ul>
									</div>
								</div>
								</div>
							</div>
						</section>



        <div class="text-center">
        <p>
					<% if user_signed_in? %>
          <%= link_to "Delete", about_path(@about), method: :delete, class: "btn btn-ghost", data: {confirm: "Are you sure...?" } %>
					<% end %>
			  </p>
      </div>
