<!DOCTYPE html>
<html>
<head>
  <title>Zongosoft.com </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>
  <%= render 'layouts/intro-header', if @has_header %>
  <!-- Start header -->
  <!-- NavBar-->
<nav class="navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, :class "navbar-brand" do %>
        <%= image_tag "Link.png" %>
        <% end %>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
      <ul class="nav navbar-nav">

        <li class="menuItem"><%= link_to "Home", root_path %></li>
        <li class="menuItem"><%= link_to "Services", root_path %></li>
        <li class="menuItem"><%= link_to "About us", root_path %>></li>
        <li class="menuItem"><%= link_to "Projects", projects_path %></li>
        <li class="menuItem"><%= link_to "Blog", blogs_path %></li>
      </ul>
    </div>

  </div>
</nav>


        <!-- Home Section




                                  <% Category.all.each do |category| %>
                                    <%= link_to category.name, blogs_path(category: category.name) %>

                                    <% end %>


                              <li><%= link_to "New BlogPost", new_blog_path %></li>
                              <li><%= link_to " Add New Category", new_category_path %></li>
                              <li><%= link_to "New Projects", new_project_path %> </li>
                    -->

<%= yield %>


		<!-- Start Connected Section -->
		<section id="connected">
			<div class="container">
				<div class="row">
					<h2 class="section-title wow fadeInUp" data-wow-delay=".2s">Stay Connected</h2>
					<h3 class="discription wow fadeIn" data-wow-delay=".2s">We enjoy your calls and Our Team work so lets work together.</h3>
					<hr>
					<div class="connected-wrapper text-center">
						<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.2s">
							<div class="contact-item">
								<a href="#"><i class="fa fa-phone"></i></a>
								<h5>Customer Care</h5>
								<h4>+234 816-186-9777</h4>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.2s">
							<div class="contact-item">
								<a href="#"><i class="fa fa-user"></i></a>
								<h5>Support Team</h5>
								<h4>jfortune@zongosoft.com</h4>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.2s">
							<div class="contact-item">
								<a href="#"><i class="fa fa-twitter"></i></a>
								<h5>Twitter</h5>
								<h4>#zongosoft</h4>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.2s">
							<div class="contact-item">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<h5>Facebook</h5>
								<h4>zongosoft@facebook.com</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Connected Section -->

		<!-- Footer Section Start -->
		<footer id="footer">
			<div class="container">
					<div class="copyright text-center">
						<p>Designed and Developed by <a href="http://fcoders.tech">Fcoders</a></p>
					</div>
			</div>
		</footer>


</body>
</html>
