<!DOCTYPE html>
<html>
<head>
  <title>Zongosoft.com </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
     <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="Bridging The Digital Divide">
      <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body id="home">

      <header id="header">
          <nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="banner">
              <div class="container">
                  <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <%= link_to root_path do %>
                        <%= image_tag "Logo.png", class: "navbar-brand", style: "height:70px;" %>
                        <% end %>

                      </div>
                  <div class="collapse navbar-collapse navbar-right">
                      <ul class="nav navbar-nav">
                          <li class="scroll active"><%= link_to "Home", root_path %></li>
                          <li class="scroll">  <%= link_to "Services", services_path %></li>
                          <li class="scroll"><%= link_to "About us", abouts_path %></li>
                          <li class="scroll"><%= link_to "Projects", projects_path %></li>
                          <li class="scroll">  <%= link_to "Blog", blogs_path %>  </li>
                          <li class="scroll"><%= link_to "Contact Us", contacts_path %></li>
                      </ul>
                  </div>
              </div><!--/.container-->
          </nav><!--/nav-->
      </header><!--/header-->
  <!-- Start header -->
  <!-- NavBar-->

<%= yield %>


		<!-- Footer Section Start -->

    		<footer class="footer-distributed">

    			<div class="footer-left">

    				<h3><%= link_to root_path, class: "img-responsive" do %>
              <%= image_tag "Logo.png" %>
              <% end %></h3>

    				<p class="footer-links">
    					<a href="#">Home</a><br>
    					·
    					<a href="#">Blog</a><br>
    					·
    					<a href="#">Projects</a><br><br>
    					·
    					<a href="#">About</a><br>
    					·
    					<a href="#">Faq</a><br>
    					·
    					<a href="#">Contact</a>
    				</p>

    				<p class="footer-company-name">Company Name &copy; 2015</p>
    			</div>

    			<div class="footer-center">

    				<div>
    					<i class="fa fa-map-marker"></i>
    					<p><span>21zongostreet .</span>  id love to see Paris, France</p>
    				</div>

    				<div>
    					<i class="fa fa-phone"></i>
    					<p>+1 555 123456</p>
    				</div>

    				<div>
    					<i class="fa fa-envelope"></i>
    					<p><a href="mailto:support@company.com">support@company.com</a></p>
    				</div>

    			</div>

    			<div class="footer-right">

    				<p class="footer-company-about">
    					<span>About the company</span>
    					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    				</p>

    				<div class="footer-icons">

    					<a href="#"><i class="fa fa-facebook"></i></a>
    					<a href="#"><i class="fa fa-twitter"></i></a>
    					<a href="#"><i class="fa fa-linkedin"></i></a>
    					<a href="#"><i class="fa fa-github"></i></a>

    				</div>

    			</div>

    		</footer>

</body>
</html>
