<!DOCTYPE html>
<html>
<head>
  <title>Zongosoft2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="header">
			<nav class="main-navigation navbar-fixed-top" role="navigation" data-spy="affix" data-offset-top="200">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<i class="fa fa-bars fa-lg"></i>
						</button>
						<!-- logo here -->
						<a href="index.html" class="navbar-brand"><%= image_tag "Logo.png" %></a>
					</div>

					<!-- Start Navigation Menu -->
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right" id="main_navigation_menu">
							<li class="active"><%= link_to "Home", root_path %></li>
							<li><%= link_to "Services", root_path %></li>
							<li><%= link_to "About us", root_path %></li>
							<li><%= link_to "Projects", projects_path %></li>
							<li><%= link_to "Blog", blogs_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Categories<b class=" icon-angle-down"></b></a>
                          <ul class="dropdown-menu">
                              <li>
                                  <% Category.all.each do |category| %>
                                    <%= link_to category.name, blogs_path(category: category.name) %>

                                    <% end %>
                              </li>

                          </ul>

              </li>

              <li><%= link_to "Contact Us", new_contact_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">Admin ClickHere<b class=" icon-angle-down"></b></a>
                          <ul class="dropdown-menu">
                              <li><%= link_to "New BlogPost", new_blog_path %></li>
                              <li><%= link_to " Add New Category", new_category_path %></li>
                              <li><%= link_to "New Projects", new_project_path %> </li>
                              <li><%= link_to "Show Our Suscribers", contacts_path %> </li>
                          </ul>

              </li>
						</ul>
					</div>
					<!-- End Navigation Menu -->
				</div>
			</nav>
		</header>
		<!-- End Header Section -->

<%= yield %>


		<!-- Start Connected Section -->
		<section id="connected">
			<div class="container">
				<div class="row">
					<h2 class="section-title wow fadeInUp" data-wow-delay=".2s">Stay Connected</h2>
					<h3 class="discription wow fadeIn" data-wow-delay=".2s">We enjoy your calls and Our Team work so lets work together.</h3>
					<hr>
					<div class="connected-wrapper text-center">
						<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.2s">
							<div class="contact-item">
								<a href="#"><i class="fa fa-phone"></i></a>
								<h5>Customer Care</h5>
								<h4>+234 816-186-9777</h4>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.2s">
							<div class="contact-item">
								<a href="#"><i class="fa fa-user"></i></a>
								<h5>Support Team</h5>
								<h4>jfortune@zongosoft.com</h4>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.2s">
							<div class="contact-item">
								<a href="#"><i class="fa fa-twitter"></i></a>
								<h5>Twitter</h5>
								<h4>#zongosoft</h4>
							</div>
						</div>
						<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.2s">
							<div class="contact-item">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<h5>Facebook</h5>
								<h4>zongosoft@facebook.com</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Connected Section -->

		<!-- Footer Section Start -->
		<footer id="footer">
			<div class="container">
					<div class="copyright text-center">
						<p>Designed and Developed by <a href="http://fcoders.tech">Fcoders</a></p>
					</div>
			</div>
		</footer>


</body>
</html>
